 <p-table [columns]="cols" [value]="currencyData" [paginator]="true" [rows]="10"
 sortMode="multiple" selectionMode="single" [(selection)]="selectedCurrency" dataKey="code"
  (onRowSelect)="rowSelected($event)">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-currency >
      <tr [pSelectableRow]='currencyData' >
          <td>
              {{currency.name}}
          </td>
          <td>
            {{currency.priceUsd}}
        </td>
        <td>
          {{currency.changePercent24Hr}}
        </td>
        <td> <button> <a [routerLink]="['/currency', currency.id]"></a> buttonik</button></td>
      </tr>
  </ng-template>
</p-table>
